doctype html
html(lang='en')
head
    style.
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
    style
        include includes/sass/style.css
    script(src="includes/js/dome.js")
    script(src="includes/js/sites.js")
    title home
    //rewrite the css written here
body
    //div(id="wiper")
    div.main(id="main")
        div.static_links
            span(id="clock")
            span help
            //link here
            //link here
            //link here
        form(method="GET", id="action")
            input(type="text", oninput="matchLinks(this.value)", autofocus autocomplete="off")
        div(id="links")
