doctype html
html(lang='en')
head
    style
        include includes/sass/style.css
    script(src="includes/js/dome.js")
    script(src="includes/js/sites.js")
    title home
body
    div.main(id="main")
        div.static_links
            span(id="clock")
            //link here
            //link here
            //link here
        form(method="GET", id="action")
            input(type="text", oninput="matchLinks(this.value)", autofocus autocomplete="off")
        div(id="links")
